.content-container {
  margin: 16px;
}

.filter-container,
.form-filter-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.form-filter-container {
  flex-direction: column;

  .location-field,
  .style-field {
    width: 300px;
  }
}
