<div class="banner-container">
  <div class="promotional-container">
    <h1>
      Your Home, Your Investment. <br />
      Smart Decisions Start Here.
    </h1>
    <div class="search-container">
      <mat-form-field>
        <mat-label>Choose city</mat-label>
        <mat-select
          [(value)]="selectedLocation"
          (valueChange)="selectedLocationChange($event)"
        >
          <mat-option
            *ngFor="let location of locationOptions"
            [value]="location"
          >
            {{ location.location }}
          </mat-option>
          <mat-option [value]="'new'">
            Don't see the city you want? Add the new one!
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="searchActiveListings()"
      >
        Search
      </button>
    </div>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="home-content">
  <div>
    <h3>
      Innovative Investment, Tailored Home Buying
    </h3>
    <p>
      Our web application merges cutting-edge technology with personalized service to empower both home buyers and investors. Explore properties, predict future market trends, and make informed decisions with data-driven insights. Whether you’re seeking a perfect home or an optimal investment, we provide the tools to secure your future in real estate efficiently and intelligently.
    </p>
</div>
<img src="../../../assets/img-2.jpg">
  
</div>

