.banner-container {
  position: relative;
  top: -65px;
  height: calc(100vh - 430px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/img-1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-progress-bar {
  top: -65px;
}

.promotional-container {
  h1 {
    color: white;
  }
  margin: 50px;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 5px;

  mat-form-field {
    width: 350px;
  }
}

.home-content {
  padding: 0 15% 65px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;

  h3{
    font-size: 36px;
  }
  p {
    font-size: 16px;
    line-height: 30px;

  }
  img{
    height: 300px;
  }
}

@media only screen and (max-width: 950px) {
  .home-content{
    flex-direction: column;
    gap: 40px;

    img{
      height: auto;
      width: 100%;
    }
  }
}
